@charset "UTF-8";
/* reset */
* { margin: 0; padding: 0; } 

ul,
li { margin: 0; padding: 0; list-style: none; } 

a { text-decoration: none; } 

.blind { position: absolute; top: -999px; left: -9999px; text-indent: -99999999999px; font-size: 0; width: 0; height: 0; } 

#wrap { width: 100%; } 

/* ======================================== header =========================================== */
#wrap header { width: 100%; height: 170px; background-color: #fff; border-top: 5px solid #009223; border-bottom: 1px solid #e5e5e5; box-sizing: border-box; position: fixed; top: 0; z-index: 99; } 

#wrap header .headerInner { width: 1170px; margin: 0 auto; position: relative; } 

/* 로고 */
#wrap header .headerInner h1.logo a img { display: block; margin: 0 auto; padding: 35px 0; box-sizing: border-box; } 

/* 메뉴 */
#wrap header .headerInner nav.menu>ul { width: 100%; height: 55px; line-height: 55px; position: absolute; left: 0; top: 105px; text-align: center; display: flex; } 

#wrap header .headerInner nav.menu>ul>li { width: 16.6%; } 

#wrap header .headerInner nav.menu ul>li>a { font-size: 18px; font-weight: bold; font-family: 'Noto Sans KR', sans-serif; color: #292929; } 

#wrap header .headerInner nav.menu ul>li>a:hover,
#wrap header .headerInner nav.menu ul>li>a:focus { color: #009223; } 

/* 서브메뉴 */
#wrap header .headerInner nav.menu ul li ul.submenu { margin-top: 15px; display: none; } 

#wrap header .headerInner nav.menu ul li ul.submenu li { width: 100%; } 

#wrap header .headerInner nav.menu ul li ul.submenu li a { display: block; height: 40px; line-height: 40px; text-align: center; color: #666; font-family: 'Noto Sans KR', sans-serif; font-size: 15px; font-weight: normal; } 

#wrap header .headerInner nav.menu ul li ul.submenu li a:hover,
#wrap header .headerInner nav.menu ul li ul.submenu li a:focus { color: #009223; text-decoration: underline; } 

.bg { background-color: #fff; width: 100%; height: 280px; position: absolute; top: 165px; z-index: -1; display: none; } 


/* 로그인, 회원가입 */
#wrap header .headerInner .util_menu { position: absolute; right: 0; top: 40px; } 

#wrap header .headerInner .util_menu ul { display: flex; gap: 20px; } 

#wrap header .headerInner .util_menu ul li:first-child::after { content: ''; width: 2px; height: 2px; border-radius: 50%; background-color: #ddd; position: absolute; top: 15px; left: 45px; } 

#wrap header .headerInner .util_menu ul li a { font-size: 13px; color: #666; font-family: 'Noto Sans KR', sans-serif; display: block; height: 30px; line-height: 30px; } 

/* ======================================== main ======================================= */
#wrap main { width: 100%; margin-top: 170px; } 

/* 메인 슬라이드 */
#wrap main section#main_slides { width: 100%; height: 440px; position: relative; } 

.swiper { width: 100%; height: 100%; } 

.swiper-slide:nth-child(1) { background: #f2f2f2 url(../images/main_slide1.jpg)no-repeat center; } 

.swiper-slide:nth-child(2) { background: #038d42 url(../images/main_slide2.jpg)no-repeat center; } 

.swiper-slide:nth-child(3) { background: #110f10 url(../images/main_slide3.jpg)no-repeat center; } 

.swiper-slide:nth-child(4) { background: #fff url(../images/main_slide4.jpg)no-repeat center; } 

/* 인디케이터 */
.swiper-pagination { height: 60px; position: absolute; left: 28% !important; } 

/* 기본 인디케이터 스타일 */
.swiper-pagination.slides-pagenation .swiper-pagination-bullet { width: 10px; height: 10px; background-color: #fff; opacity: 1; } 

/* 선택된 인디케이터 스타일 */
.swiper-pagination.slides-pagenation .swiper-pagination-bullet-active { width: 40px; height: 10px; border-radius: 50px; background-color: #ffce32; transition: width 0.5s; } 

/* 퀵메뉴 */
section#quick_menu { width: 1170px; height: 80px; margin: 0 auto; position: relative; } 

section#quick_menu .content { display: flex; position: absolute; top: -30px; right: 0; z-index: 5; } 

section#quick_menu .content .store { width: 300px; height: 80px; background-color: #ffce32; border-radius: 30px 0 0 0; } 

section#quick_menu .content .store a strong,
section#quick_menu .content .franchise a strong { display: block; font-size: 22px; font-family: 'Noto Sans KR', sans-serif; text-align: center; height: 80px; line-height: 80px; } 

section#quick_menu .content .store a strong { color: #000; } 

section#quick_menu .content .store a strong::before { content: ''; background: url(../images/icon_map.png) no-repeat; display: inline-block; width: 24px; height: 30px; padding-right: 13px; position: relative; top: 7px; } 

section#quick_menu .content .franchise { width: 300px; height: 80px; background-color: #009223; border-radius: 0 0 30px 0; } 

section#quick_menu .content .franchise a strong { color: #fff; } 

section#quick_menu .content .franchise a strong::before { content: ''; background: url(../images/icon_franchise.png) no-repeat; display: inline-block; width: 34px; height: 30px; padding-right: 13px; position: relative; top: 7px; } 

/* 서브웨이 메뉴 */
section#subway_menu { width: 100%; height: 560px; padding: 60px 0 0; } 

/* 상단 제목, 종류 */
section#subway_menu .top_bar { width: 1170px; display: flex; margin: 0 auto; position: relative; } 

section#subway_menu .top_bar h2 { font-size: 40px; font-family: 'Geologica', sans-serif; color: #292929; background: url(../images/bul_tit.png)0 12px no-repeat; padding: 22px 0 0 25px; } 

section#subway_menu .top_bar .tab { width: 500px; position: absolute; right: 0; top: 40px; } 

section#subway_menu .top_bar .tab ul { display: flex; justify-content: space-between; } 

section#subway_menu .top_bar .tab ul li { position: relative; margin-left: 23px; padding: 0 0 0 30px; } 

section#subway_menu .top_bar .tab ul li::after { content: ''; position: absolute; left: 0; top: 3px; width: 1px; height: 16px; background-color: #ddd; } 

section#subway_menu .top_bar .tab ul li:first-child::after { display: none; } 

section#subway_menu .top_bar .tab ul li a { color: #666; font-family: 'Noto Sans KR', sans-serif; font-weight: bold; height: 16px; line-height: 16px; } 

section#subway_menu .top_bar .tab ul li a:hover,
section#subway_menu .top_bar .tab ul li a:focus { color: #009223; } 

/* 메뉴 사진,이름,설명 */
section#subway_menu .menu_box { width: 1170px; height: 320px; margin: 0 auto; } 

section#subway_menu .menu_box ul { display: flex; margin-top: 34px; } 

section#subway_menu .menu_box ul li { width: 25%; height: 320px; text-align: center; } 

section#subway_menu .menu_box ul li a img { width: 260px; height: 182px; } 

section#subway_menu .menu_box ul li a strong { font-size: 18px; font-family: 'Noto Sans KR', sans-serif; color: #292929; display: block; margin: 3px 0 10px; } 

section#subway_menu .menu_box ul li a p { font-size: 13px; color: #999; font-family: 'Noto Sans KR', sans-serif; } 
/* 서브웨이 정보 */
section#infomation { width: 100%; height: 790px; background: url(../images/bg_content.gif)0 0 repeat; } 

/* 서브웨이 정보 기준 */
section#infomation .subway_info { width: 1280px; height: 790px; margin: 0 auto; padding: 80px 0; } 

/* 상단 컨텐츠 */
section#infomation .subway_info .content_top { display: flex; } 

/* 이용방법 */
section#infomation .subway_info .content_top .use { width: 400px; height: 300px; background: url(../images/bg_use.png)no-repeat; position: relative; margin-left: 55px; } 

section#infomation .subway_info .content_top p { font-size: 28px; font-weight: bold; color: #fff; font-family: 'Noto Sans KR', sans-serif; } 

section#infomation .subway_info .content_top .use p { position: absolute; top: 38px; left: 39px; } 

section#infomation .subway_info .content_top a.btn { display: block; border: 2px solid #fff; border-radius: 20px; text-align: center; height: 36px; line-height: 36px; } 

section#infomation .subway_info .content_top .use a.btn { width: 92px; position: absolute; bottom: 42px; left: 41px; } 

section#infomation .subway_info .content_top span { font-weight: 300; color: #fff; font-family: 'Noto Sans KR', sans-serif; } 

/* history */
section#infomation .subway_info .content_top .history { width: 825px; height: 300px; background: url(../images/img_subway_history.png)no-repeat; position: relative; } 

section#infomation .subway_info .content_top .history p { position: absolute; top: 38px; left: 410px; } 

section#infomation .subway_info .content_top .history a.btn { width: 128px; position: absolute; bottom: 42px; left: 410px; } 

/* 하단 컨텐츠 */
section#infomation .subway_info .content_bottom { width: 1170px; height: 300px; margin: 30px auto; display: flex; justify-content: space-between; } 

/* What's New */
section#infomation .subway_info .content_bottom .whats_new { width: 870px; height: 300px; background-color: #fff; border-radius: 30px 0 30px 0; position: relative; } 

section#infomation .subway_info .content_bottom .whats_new .news { position: absolute; top: 50%; transform: translateY(-50%); left: 60px; } 

section#infomation .subway_info .content_bottom .whats_new .news strong { font-size: 31px; font-family: 'Geologica', sans-serif; color: #292929; background: url(../images/bul_tit.png)0 0 no-repeat; padding: 20px 0 0 25px; } 

section#infomation .subway_info .content_bottom .whats_new .news p { color: #666; font-family: 'Noto Sans KR', sans-serif; margin-top: 18px; text-align: center; letter-spacing: -0.64px; } 

/* 소식 리스트 */
section#infomation .subway_info .content_bottom .whats_new .board_list { position: absolute; top: 50%; transform: translateY(-50%); left: 360px; } 

section#infomation .subway_info .content_bottom .whats_new .board_list ul li { margin-top: 16px; } 

section#infomation .subway_info .content_bottom .whats_new .board_list ul li a { color: #292929; font-family: 'Noto Sans KR', sans-serif; } 

section#infomation .subway_info .content_bottom .whats_new .board_list ul li a:hover,
section#infomation .subway_info .content_bottom .whats_new .board_list ul li a:focus { color: #009223; text-decoration: underline; } 

section#infomation .subway_info .content_bottom .whats_new .board_list a.more { font-size: 14px; color: #999; display: block; margin-top: 25px; } 

/* 스폰서 */
section#infomation .subway_info .content_bottom .sponsor a img { border-radius: 0 30px 0 30px; } 

/* 하단메뉴 */
section#bottom_menu { width: 100%; height: 150px; padding: 40px 0 40px; box-sizing: border-box; } 

section#bottom_menu ul { width: 1170px; margin: 0 auto; display: flex; justify-content: center; gap: 80px; } 

section#bottom_menu ul li a { display: block; overflow: hidden; position: relative; height: 70px; padding-left: 90px; } 

section#bottom_menu ul li .icon { background: url(../images/icon_bottom_menu.png) no-repeat; width: 70px; height: 70px; position: absolute; top: 0; left: 0; } 

section#bottom_menu ul li.bm1 .icon { background-position: 0 0; } 

section#bottom_menu ul li.bm2 .icon { background-position: -70px 0; } 

section#bottom_menu ul li.bm3 .icon { background-position: -140px 0; } 

section#bottom_menu ul li.bm4 .icon { background-position: -210px 0; } 

section#bottom_menu ul li strong { font-size: 18px; font-family: 'Noto Sans KR', sans-serif; color: #292929; letter-spacing: -0.72px; margin-top: 12px; display: block; text-align-last: left; } 

section#bottom_menu ul li span { font-size: 13px; font-family: 'Noto Sans KR', sans-serif; color: #999; letter-spacing: -0.26px; display: block; text-align-last: left; } 

/* ================================== footer =============================== */
#wrap footer { width: 100%; height: 151px; background-color: #292929; position: relative; } 

#wrap footer::after { content: ''; position: absolute; top: 59px; left: 0; width: 100%; height: 1px; background-color: #3b3b3b; } 

#wrap footer .footerInner { width: 1170px; height: 151px; margin: 0 auto; position: relative; } 

#wrap footer .footerInner .bmenu ul { display: flex; gap: 30px; padding-top: 19px; } 

#wrap footer .footerInner .bmenu ul li a { font-size: 14px; color: #666; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.7px; } 

/* 개인정보처리방침 */
#wrap footer .footerInner .bmenu ul li:nth-child(2) a { font-weight: bold; color: #bbb; } 

#wrap footer .footerInner .bmenu ul.bt { padding-top: 38px; } 

#wrap footer .footerInner .bmenu ul li span { font-size: 13px; color: #666; font-family: 'Noto Sans KR', sans-serif; letter-spacing: -0.5px; position: relative; } 

#wrap footer .footerInner .bmenu ul li span::after { content: ''; position: absolute; left: -15px; top: 5px; width: 2px; height: 10px; background-color: #666; } 

#wrap footer .footerInner .bmenu ul li:first-child span::after { display: none; } 

/* copyright, sns */
#wrap footer .footerInner .copyright p { font-size: 13px; color: #666; padding-top: 5px; } 

#wrap footer .footerInner .sns ul { display: flex; gap: 15px; position: absolute; right: 0; bottom: 17px; } 

#wrap footer .footerInner .sns ul li a img { width: 45px; height: 45px; opacity: 0.6; transition: 0.4s; } 

#wrap footer .footerInner .sns ul li a img:hover,
#wrap footer .footerInner .sns ul li a img:focus { opacity: 1; } 